<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

<h1>Order #<%= @order.id %> Site: <strong><%= @order.building_site %></strong></h1>
<h2>Site info: <%= @order.building_site_info %> </h2>



    <p>Scaffolder: <strong><%= @order.user.email %></strong></p>
    <p>Delivery Date: <strong><%= @order.delivery_date.strftime("%d-%m-%Y")  %></strong> /// New Delivery Date: <strong><%= @order.new_delivery_date.strftime("%d-%m-%Y") if @order.new_delivery_date %></strong> /// Car number: <strong><%= @order.car_number %></strong> </p>
    
  
    <p class="big-text flex-item"><strong>Additional Info: <%= simple_format(@order.info) %> </strong></p>
    <p class="big-text flex-item"><strong>Storage Info: <%= simple_format(@order.storage_info) %> </strong></p>



    <h3 class="align-center">Order Items:</h3>
    <table class=" table-auto border-2">
      <thead>
        <tr>
          <th></th>
          <th>Art. number</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Comb. weight</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_lists.sort_by { |order_list| order_list.part.description }.each_with_index do |order_list, index| %>
        <tr class="mb-4">
          <td><%= index + 1 %></td>
          <td><%= order_list.part.name %></td>
          <td><%= order_list.part.description %></td>
          <td><strong><%= order_list.quantity %></strong></td>
          <td><%= order_list.part.weight * order_list.quantity %> kg</td>
        </tr>
        <% end %>
      </tbody>
    </table>

<div class="align-right">
  <p><strong>Weight: <%= total_weight(@order.order_lists) %> kg</strong></p>
</div>

<% if @order.order_storage_lists.any? %>
<h3 class="align-center">Parts added in Storage (Lagerman parts):</h3>
<table class="table-auto border-2">
  <thead>
    <tr>
    <th></th>
          <th>Art. number</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Comb. weight</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_storage_lists.sort_by {|storage_list| storage_list.part.description }.each_with_index do |storage_list, index| %>
    <tr>
    <td><%= index + 1 %></td>
    <td> <%= storage_list.part.name %></td>
      
      <td><%= storage_list.description %></td>
      <td><strong><%= storage_list.quantity %></strong></td>
      <td><%= storage_list.weight %> kg</td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="align-right">
  <p><strong>Weight: <%= total_weight(@order.order_storage_lists) %> kg</strong></p>
</div>

<% end %>

 <p><strong>Total Weight: <%= total_weight(@order.order_storage_lists) +  total_weight(@order.order_lists)%> kg</strong></p>










<style>


.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1; /* Pozwala elementom flex na rozwinięcie się i zajęcie dostępnego miejsca */
  padding: 0 10px; /* Opcjonalny padding dla lepszego wyglądu */
  box-sizing: border-box; /* Upewnia się, że padding i border są uwzględniane w całkowitej szerokości elementu */
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 2px;
  text-align: left;
  padding-left: 6px;
}

th {
  background-color: #f2f2f2;
}

.big-text {
  font-size: 18px;
}

    </style>

    </body>
</html>