<div>
  <div class="flex justify-between w-80">
    <div class="hover:scale-110 transition duration-200">
      <%= link_to root_path, class: "items-center" do %>
        <p class="">Back to Systems:</p>
        <div class="flex inline ml-3">
          <%= image_tag("peri_small.webp", alt: "Opis", size: "20x20") %>
          <%= image_tag("haki_small.webp", alt: "Opis", size: "20x20") %>
          <%= image_tag("alfix_small.webp", alt: "Opis", size: "20x20") %>
          <%= image_tag("rullestias_small.webp", alt: "Opis", size: "20x20") %>
          <%= image_tag("combisafe_small.webp", alt: "Opis", size: "20x20") %>
        </div>
      <% end %>
    </div>
    <% unless controller_name == "carts" || controller_name == "orders" %>
      <div class="hover:scale-110 transition duration-200">
        <%= link_to cart_path(current_cart.id), class: "items-center" do %>
          <p class="">Go to Order Cart</p>
          <p class="ml-12"><%= image_tag("cart_2.png", alt: "Opis", size: "30x30") %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

