



<%= form_with(model: @order, url: orders_path) do |form| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger">
        <ul>
        <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>
  <div>
    <div class="flex justify-center mt-2">
      <%= form.label :building_site, "Site:" %>
    </div>
    <div class="flex justify-center mb-1">
      <%= form.collection_select :building_site, Site.all, :name, :name, { prompt: true }, { id: "site-select" } %> 
    </div>

    <div class="text-center mb-4" id="full-address">Full address</div>

    <div class="flex justify-center">
      <%= form.label :delivery_date, "Delivery date:" %>
    </div>
    <div class="flex justify-center mb-4">
      <%= form.date_field :delivery_date, start_year: Date.current.year, min: Date.current.to_s, placeholder: "Select delivery date"  %>
    </div>

    <% @cart.cart_items.each do |cart_item| %>
      <%= form.fields_for :order_lists, OrderList.new do |order_list_fields| %>
        <%= order_list_fields.hidden_field :part_id, value: cart_item.part_id %>
        <%= order_list_fields.hidden_field :quantity, value: cart_item.quantity %>
        <%= order_list_fields.hidden_field :description, value: cart_item.part.description %>
      <% end %>
    <% end %>

<div class="flex justify-center">
  <%= form.label :car_number, "Car number:" %>
</div>
<div class="flex justify-center mb-2">
  <%= form.text_field :car_number %>
</div>

    <div class="flex justify-center">
      <%= form.label :info, "Additional info:" %>
    </div>
    <div class="flex justify-center">
      <%= form.text_area :info %>
    </div>
  </div>



  <!-- Dane produktów z koszyka -->
  <p class="ml-2 mt-7 text-lg">Parts in cart:</p>
  <% @products.each do |product| %>
    <div>
      <div class="m-2 ml-4 border-b-2">
        <p> <%= product[:description] %></p>
        <p>Quantity: <strong><%= product[:quantity] %></strong></p>
      </div>
    <% end %>

    <p class="text-center m-4">Total Weight: <strong><%= @total_weight %> kg</strong></p>

    <% if @cart.cart_items.any? %>
      <div class="flex justify-center m-6">
        <%= form.submit "ORDER", class: "inline-flex items-center px-4 py-2 bg-green-800 hover:bg-gray-700 text-white font-semibold rounded-md" %>
      </div>
    <% else %>
      <div class="flex justify-center m-6">
        <%= form.submit "ORDER", class: "inline-flex items-center px-4 py-2 bg-green-800 hover:bg-gray-700 text-white font-semibold rounded-md", disabled: true %>
      </div>
    <% end %>
  </div>
<% end %>

  <script>
      // Wrap the script in a self-invoking function
      (function() {
        const siteSelect = document.getElementById("site-select");
        const fullAddressElement = document.getElementById("full-address");

        siteSelect.addEventListener("change", (event) => {
          const selectedSite = event.target.value;

          // Wykonaj zapytanie AJAX za pomocą API Fetch, aby pobrać pełny adres na podstawie wybranego "selectedSite".
          fetch(`/get_full_address?site=${selectedSite}`)
            .then((response) => response.json())
            .then((data) => {
              const fullAddress =  data.full_address;
              fullAddressElement.innerText = fullAddress;
            })
            .catch((error) => {
              console.error("Address not found");
            });
        });
      })();
    </script>