<p class="text-center">Copy of order has been sent to your email: <%= @order.user.email %></p>

<div class="container ml-3">
 
  
  <h1 class= "mt-4" >Order Details:</h1>
<br>
  <div>
  <p><strong>Scaffolder:</strong> <%= @order.user.email %></p>
    <p><strong>Building Site:</strong> <%= @order.building_site %></p>
    <p><strong>Site info:</strong> <%= @order.building_site_info %></p>
    <p><strong>Delivery Date:</strong> <%= @order.delivery_date.strftime("%d-%m-%Y")  %></p>
   
    <p class=""><strong>Additional Info:</strong></p> <%= simple_format(@order.info) %>
    
  </div>
  <br>

 <h2>Ordered Parts:</h2>

 <% total_weight = 0 %>
<% @order.order_lists.sort_by { |order_list| order_list.description }.each do |order_list| %>
  <div class="m-2 ml-1 border-b-2">
    <p><strong> <%= order_list.description %></strong></p>
    <p>Quantity:<strong> <%= order_list.quantity %></strong> Weight <%= order_list.weight %>kg</p>
  <% total_weight += order_list.quantity * order_list.weight %>
  </div>
<% end %>
<p class="text-center m-4"><strong>Total Weight:</strong> <%= total_weight %>kg</p>
</div>
