<div class="desktop-parts-list">
  <% sorted_parts = @parts.sort_by { |part| part.description.strip.downcase } %>
  <% sorted_parts.each do |part| %>
    <div class="part-item border p-2 flex flex-row items-center justify-between w-full sm:min-w-[400px] md:min-w-[650px] md:max-w-[900px] max-h-[120px] <%= @cart.cart_items.exists?(part_id: part.id) ? 'bg-green-50' : '' %>">
      <div class="flex-shrink-0 mr-4">
        <% if part.image.attached? %>
          <%= link_to url_for(part.image.variant(resize_to_limit: [500, nil])),
            data: { lightbox: "image-set", title: part.name } do %>
  <%= image_tag(part.image.variant(resize_to_limit: [40, 40]), alt: part.name, class: "rounded shadow") %>
<% end %>

        <% else %>
          <%= image_tag("scaffold_img_small.webp", alt: "No image", size: "40x40", class: "rounded shadow") %>
        <% end %>
      </div>

      <div class="flex-grow ">
        <p class="font-semibold w-60"><%= part.description %></p>
        <p class="text-gray-500">Multipack: <strong><%= part.multipack %></strong></p>
        <div class="mt-2 flex">
          <% if @cart.present? %>
            <% current_quantity = @cart.cart_items.where(part_id: part.id).sum(:quantity) %>
            <% if current_quantity > 0 %>
              <p class="text-green-500 pt-2 mr-2">In Cart: <strong><%= current_quantity %></strong></p>
            <% end %>
          <% end %>
          <% if @cart.cart_items.exists?(part_id: part.id) %>
            <div data-controller="dialog">
              <dialog data-dialog-target="dialog" class="rounded shadow-lg p-4">
                <p class="text-lg">Delete <%=part.description %> from the cart?</p>
                <div class="mt-4 flex justify-end gap-4">
                  <%= button_to cart_cart_item_path(@cart, @cart.cart_items.find_by(part_id: part.id)), method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition duration-200" do %>
                    Yes, Delete
                  <% end %>
                  <button type="button" data-action="dialog#close" class="bg-gray-300 px-4 py-2 rounded hover:bg-gray-400 transition duration-200">Cancel</button>
                </div>
              </dialog>

              <button type="button" data-action="dialog#open" class="mt-2 inline-block">
                <%= image_tag "trash.png", size: "20x20", alt: "Delete", class: "hover:scale-110 transition duration-200 hover:bg-red-100 rounded" %>
              </button>
            </div>
          <% end %>
        </div>
      </div>

      <div class="flex items-center mt-4 md:mt-0">
        <%= form_with(model: [@cart, CartItem.new], data: { turbo_frame: "parts_frame" }, class: 'flex items-center') do |form| %>
          <%= form.hidden_field :part_id, value: part.id %>
          <%= form.number_field :quantity, min: 1, class: "border mr-2 w-20 text-center rounded-md" %>
          <%= button_tag type: 'submit', class: "bg-green-500 hover:bg-green-600 text-white p-2 rounded shadow" do %>
            <%= image_tag("cart_2.png", alt: "Cart", size: "20x20") %>
          <% end %>
        <% end %>          
      </div>
    </div>
  <% end %>
</div>
