<div class="flex justify-end mb-4 mt-4">
  <%= link_to "Desktop View", pages_index_path(params.permit(:system, :category, :description).merge(view_mode: 'desktop')), class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" %>
  <%= link_to "Mobile View", pages_index_path(params.permit(:system, :category, :description).merge(view_mode: 'mobile')), class: "ml-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
</div>

<% if params[:system] %>
  <div class="text-center">
    <h2>Current System: <%= params[:system].upcase %></h2>
    <p class="m-1 flex justify-center">
      <%= image_tag("#{params[:system]}.jpg", alt: "System", size: "30x30") %>
    </p>
  </div>
<% end %>

<div class="mt-3 mb-3 flex">
  <%= form_with(url: pages_index_path, method: :get, html: { id: 'category-form' }) do |form| %>
    <%= form.hidden_field :system, value: params[:system] %>
    <% categories_options = [] %>
    <% if params[:system] %>
      <% system = System.find_by(name: params[:system]) %>
      <% if system %>
        <% categories_options = Category.joins(:part_categories)
                                       .where('part_categories.part_id IN (?)', Part.joins(:part_systems)
                                                                                     .where('part_systems.system_id = ?', system.id)
                                                                                     .ids)
                                       .uniq
                                       .map { |category| [category.name.capitalize, category.name] }
                                       .sort_by { |category| sorted_categories.index(category[1]) || 9999 } %>
        <%= form.select :category, 
                         [["Select category", nil]] + categories_options,
                         { selected: params[:category] },
                         { class: "rounded-md border-2", onchange: 'this.form.submit()' } %>
      <% else %>
        <div class="text-center m-4">
          Currently this system is empty
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="mb-3">
  <% if params[:category] %>
    <p class="text-center">Select part:</p>

    <% if @view_mode == 'desktop' %>
      <%= render partial: 'pages/desktop_parts', locals: { parts: @parts }%>
    <% else %>
    <%= render partial: 'pages/mobile_parts', locals: { parts: @parts }%>
    <% end %>
  <% end %>
</div>
