
 
  <div class="text-center">
  <% if params[:system] %>
    <h2>Current System: <%= params[:system].upcase %></h2>
    <p class="m-1 flex justify-center"><%= image_tag("#{params[:system]}.jpg", alt: "System", size: "30x30") %></p>
  <% end %>
  Select scaffold elements:
  </div>
  <div class="mt-3 mb-3 flex">
  <%= form_with(url: pages_index_path, method: :get, html: { id: 'category-form' }) do |form| %>
    <%= form.hidden_field :system, value: params[:system] %>
    <%= form.select :category, 
  [["Select category", nil]] + Part.pluck(:category).uniq.map { |category| [category.capitalize, category ] }, 
  { selected: params[:category] },
  { class: "rounded-md border-2 ", onchange: 'this.form.submit()' } %>
    <%# Usuwamy przycisk OK %>
  <% end %>
</div>

<div class="mt-3 mb-3 ">
  <% if params[:category]%>
    <%= form_with(url: pages_index_path, method: :get, html: { id: 'description-form' }) do |form| %>
    <%= form.hidden_field :system, value: params[:system] %>
    <%= form.hidden_field :category, value: params[:category] %>
    <%= form.select :description, 
  [["Select Part", nil]] +
    @parts.pluck(:description).uniq ,
    { selected: params[:description] },
    { class: "rounded-md border border-black-500 w-52", onchange: 'this.form.submit()' } %>
    <%# Usuwamy przycisk OK %>
    <% end %>
  <% end %>
</div>

<% if params[:system] && params[:category] && params[:description] %>
<div class="border-t-2 mb-4  justify-between mt-8">
  <p class="text-center m-2"><%= @part.description %></p>
    <% if @part.multipack > 1 %>
      <p class=" m-2"><strong>Multipack: <%= @part.multipack%></strong></p>
    <% end %>
    <% if @cart.present? %>
      <% current_quantity = @cart.cart_items.where(part_id: @part.id).sum(:quantity) %>
    <% end %>
  <div class="columns-2">
    <div class="ml-2">
      <div>
        <%= form_with(model: [ @cart, CartItem.new ], local: true, html: { id: 'add-to-cart-form' }) do |form| %>
          <%= form.hidden_field :part_id, value: @part.id %>
          <%= form.select :quantity, options_for_select((1..100).to_a, current_quantity), class: "m-2 w-20", id: "quantity-field" %>
      </div>
      <div class="mt-1 ml-3"> 
          <%= button_tag type: 'submit', class: " bg-green-500 hover:bg-green-600 rounded-full p-2 inline-flex items-center" do %>
            <%= image_tag("cart_2.png", alt: "Cart", class: "h-8 w-8") %>
          <% end %>
        <% end %>
    </div>    
      
  </div>
  <div>
    <% if @cart.present? %>
      <% current_quantity = @cart.cart_items.where(part_id: @part.id).sum(:quantity) %>
      <% if current_quantity > 0 %>
        <p class=" ml-2 text-lg text-green-500 ">In cart: <strong><%= current_quantity %></strong></p>
      <% end %>
    <% end %>
  </div>
  <div class="flex justify-end">
    <%= image_tag("scaffold_img.jpg", alt: "scaffold", size: "120x100") %>
  </div> 
</div>

<% end %>



