<div class="text-center">
  <% if params[:system] %>
    <h2>Current System: <%= params[:system].upcase %></h2>
    <p class="m-1 flex justify-center"><%= image_tag("#{params[:system]}.jpg", alt: "System", size: "30x30") %></p>
  <% end %>
  Select scaffold elements:
</div>

<div class="mt-3 mb-3 flex">
  <%= form_with(url: pages_index_path, method: :get, html: { id: 'category-form' }) do |form| %>
    <%= form.hidden_field :system, value: params[:system] %>
    <%= form.select :category, 
      [["Select category", nil]] + Part.pluck(:category).uniq.map { |category| [category.capitalize, category] }.sort_by { |category| sorted_categories.index(category[1]) || 9999 }, 
      { selected: params[:category] },
      { class: "rounded-md border-2", onchange: 'this.form.submit()' } %>
  <% end %>
</div>

<div class="mb-3">
  <% if params[:category] %>
    <p class="text-center">select part:</p>
    <%= form_with(url: pages_index_path, method: :get, html: { id: 'description-form' }) do |form| %>
      <%= form.hidden_field :system, value: params[:system] %>
      <%= form.hidden_field :category, value: params[:category] %>
      <%= form.select :description, 
        [["Select Part", nil]] + @parts.pluck(:description).uniq,
        { selected: params[:description] },
        { class: "rounded-md border border-black-500 w-62", onchange: 'this.form.submit()', include_blank: true } %>
    <% end %>
  <% end %>
</div>

<% if @part %>
  <div class="border-t-2 mb-4 justify-between mt-2">
    <p class="text-center m-2"><%= @part.description %></p>
    <% if @cart.present? %>
      <% current_quantity = @cart.cart_items.where(part_id: @part.id).sum(:quantity) %>
      <% if current_quantity > 0 %>
        <p class="ml-2 text-lg text-green-500 text-center ">In Cart: <strong><%= current_quantity %></strong></p>
      <% end %>
    <% end %>
    <% if @part.multipack > 1 %>
      <p class="m-2"><strong>Multipack: <%= @part.multipack %></strong></p>
    <% end %>
    <% if @cart.present? %>
      <% current_quantity = @cart.cart_items.where(part_id: @part.id).sum(:quantity) %>
    <% end %>
    <div class="columns-2">
      <div class="ml-2 mt-2">
        <%= form_with(model: [ @cart, CartItem.new ], local: true, html: { id: 'add-to-cart-form' }) do |form| %>
          <div>
            <%= form.hidden_field :part_id, value: @part.id %>
    <%= form.number_field :quantity, value: current_quantity, class: "m-2 w-24", id: "quantity-field", min: 1 %>
          </div>
          <div class="mt-1 ml-3"> 
            <%= button_tag type: 'submit', class: "bg-green-500 hover:bg-green-600 rounded-full p-2 inline-flex items-center hover:scale-110 transition duration-200" do %>
              <%= image_tag("cart_2.png", alt: "Cart", class: "h-8 w-8") %>
            <% end %>
          </div>    
        <% end %>
      </div>
      <div class="flex justify-end">
        <% if @part.image.attached? %>
          <%= image_tag(@part.image.variant(resize_to_limit:[140, nil]), alt: "Part Image") %>
 
        <% else %>
          <%= image_tag("scaffold_img.png", alt: "scaffold", size: "120x100") %>
        <% end %>
      </div> 
    </div>
  </div>
<% end %>
