<div class="flex justify-end mb-4 mt-4">
  <%= link_to "Desktop View", 
              pages_index_path(params.permit(:system, :category, :description).merge(view_mode: 'desktop')), 
              class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" %>
  <%= link_to "Mobile View", 
              pages_index_path(params.permit(:system, :category, :description).merge(view_mode: 'mobile')), 
              class: "ml-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700" %>
</div>

<% if params[:system] %>
  <div class="text-center">
    <h2>Current System: <%= params[:system].upcase %></h2>
    <p class="m-1 flex justify-center">
      <%= image_tag("#{params[:system]}.jpg", alt: "System", size: "30x30") %>
    </p>
  </div>
<% end %>

<div class="mt-3 mb-3 flex">
  <%= form_with(url: pages_index_path, method: :get, html: { id: 'category-form' }) do |form| %>
    <%= form.hidden_field :system, value: params[:system] %>

    <% if params[:system] %>
      <% system = System.find_by(name: params[:system]) %>
      <% if system %>
        <% categories_options = Category.joins(:part_categories)
                                        .where('part_categories.part_id IN (?)', 
                                               Part.joins(:part_systems).where('part_systems.system_id = ?', system.id).ids)
                                        .uniq
                                        .map { |category| [category.name.capitalize, category.name] }
                                        .sort_by { |category| sorted_categories.index(category[1]) || 9999 } %>
        <%= form.select :category, 
                        [["Select category", nil]] + categories_options,
                        { selected: params[:category] },
                        { class: "rounded-md border-2", onchange: 'this.form.submit()' } %>
      <% else %>
        <div class="text-center m-4">Currently this system is empty</div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="mb-3">
  <% if params[:category] %>
    <p class="text-center">Select part:</p>

    <% if @view_mode == 'desktop' %>
      <!-- Lista części w widoku desktopowym -->
      <div class="desktop-parts-list">
        <% @parts.each do |part| %>
          <div class="part-item border p-4 mb-4 md:min-w-[680px] flex items-center justify-between">
            <!-- Obrazek -->
            <div class="flex-shrink-0 mr-4">
              <% if part.image.attached? %>
                <%= link_to url_for(part.image.variant(resize_to_limit: [500, nil])), 
                            data: { lightbox: 'part-image', title: part.name } do %>
                  <%= image_tag(part.image.variant(resize_to_limit: [80, nil]), alt: part.name, class: "rounded shadow") %>
                <% end %>
              <% else %>
                <%= image_tag("scaffold_img.png", alt: "No image", size: "80x80", class: "rounded shadow") %>
              <% end %>
            </div>

            <!-- Informacje o części -->
            <div class="flex-grow">
              <p class="text-lg font-semibold"><%= part.description %></p>
              <p class="text-gray-500">Multipack: <strong><%= part.multipack %></strong></p>
            </div>

            <!-- Ilość w koszyku -->
            <div class="flex items-center">
              <% if @cart.present? %>
                <% current_quantity = @cart.cart_items.where(part_id: part.id).sum(:quantity) %>
                <% if current_quantity > 0 %>
                  <p class="text-green-500 mr-4">In Cart: <strong><%= current_quantity %></strong></p>
                <% end %>
              <% end %>
            </div>

            <!-- Formularz dodania do koszyka -->
            <div>
              <%= form_with(model: [@cart, CartItem.new], local: true, html: { class: 'flex items-center' }) do |form| %>
                <%= form.hidden_field :part_id, value: part.id %>
                <%= form.number_field :quantity, 
                                      value: 0, 
                                      min: 1, 
                                      class: "border mr-2 w-20 text-center rounded-md" %>
                <%= button_tag type: 'submit', 
                               class: "bg-green-500 hover:bg-green-600 text-white p-2 rounded shadow" do %>
                  <%= image_tag("cart_2.png", alt: "Cart", size: "20x20") %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <!-- Dropdown w widoku mobilnym -->
      <%= form_with(url: pages_index_path, method: :get, html: { id: 'description-form' }) do |form| %>
        <%= form.hidden_field :system, value: params[:system] %>
        <%= form.hidden_field :category, value: params[:category] %>
        <%= form.select :description, 
                        [["Select Part", nil]] + @parts.pluck(:description).uniq.sort,
                        { selected: params[:description] },
                        { class: "rounded-md border border-black-500 w-62", onchange: 'this.form.submit()', include_blank: true } %>
      <% end %>
    <% end %>
  <% end %>
</div>
