<div class="flex justify-center border-2 rounded-lg w-80 h-120 shadow-xl">
  <div class="flex flex-col items-center w-80 justify-center">
  <% if params[:system] %>
  <h2>Current System: <%= params[:system].upcase %></h2>

  <p class="m-1"><%= image_tag("#{params[:system]}.jpg", alt: "System", size: "30x30") %></p>

<% end %>
    Select scaffold elements:
  
    
  <div>
  <div class="mt-3 mb-3">
  <%= form_with(url: pages_index_path, method: :get) do |form| %>
  <%= form.hidden_field :system, value: params[:system] %>
  <%= form.select :category, Part.pluck(:category).uniq.map { |category| [category.capitalize, category ] }, selected: params[:category] %>
  <%= form.submit "Set", class: "rounded-lg" %>
<% end %>
  </div>
  <div class="mt-3 mb-3">
  <% if params[:category]%>
    <%= form_with(url: pages_index_path, method: :get) do |form| %>
    <%= form.hidden_field :system, value: params[:system] %>
    <%= form.hidden_field :category, value: params[:category] %>
    <%= form.select :description, @parts.pluck(:description).uniq %>
    <%= form.submit "Select" %>
    <% end %>
  <% end %>
  </div>

  <% if params[:system] && params[:category] && params[:description] %>
  <div class="border-t-2 flex justify-between mt-8">
    <div>
      <%= params[:description] %>

    </div>
    <div>
      <%= image_tag("scaffold_img.jpg", alt: "scaffold", size: "100x100") %>
    </div>
  </div>
</div>
<% end %>



