
    Select system:
    <div class=" text-center w-80">
      <div class="m-3 flex text-center justify-center border-b-2 hover:scale-110 transition duration-200">
        <%= link_to  pages_index_path(system: 'peri')  do %>
        PERI
        <%= image_tag("peri_small.webp", alt: "Peri", size: "60x50") %>
        <% end %>
      </div>
      <div class="m-3 flex text-center justify-center border-b-2 hover:scale-110 transition duration-200">
        <%= link_to  pages_index_path(system: 'haki')   do %>
        HAKI
        <%= image_tag("haki_small.webp", alt: "Haki", size: "100x100") %>
        <% end %>
      </div>
      <div class="m-3 flex text-center justify-center border-b-2 hover:scale-110 transition duration-200">
        <%= link_to  pages_index_path(system: 'alfix')   do %>
        ALFIX
        <%= image_tag("alfix_small.webp", alt: "Alfix", size: "70x100") %>
        <% end %>
      </div>
      <div class="m-3 flex text-center justify-center border-b-2 hover:scale-110 transition duration-200">
        <%= link_to  pages_index_path(system: 'combisafe')   do %>
        COMBISAFE
        <%= image_tag("combisafe_small.webp", alt: "Combisafe", size: "100x100") %>
        <% end %>
      </div>
      <div class="m-3 flex text-center justify-center border-b-2 hover:scale-110 transition duration-200">
        <%= link_to  pages_index_path(system: 'rullestias')   do %>
        RULLESTIAS
        <%= image_tag("rullestias_small.webp", alt: "Rullestias", size: "100x100") %>
        <% end %>
      </div>
      <div class="m-3 flex text-center justify-center border-b-2 hover:scale-110 transition duration-200">
        <%= link_to  pages_index_path(system: 'other')   do %>
        OTHER
        <%= image_tag("other_small.webp", alt: "Other", size: "100x100") %>
        <% end %>
      </div>
    </div>
