<div class="container">
  <div class="mb-3  ml-2 mt-2 text-left">
    <button class="inline-flex items-center px-4 py-2 bg-transparent hover:bg-slate-300 text-black text-sm font-medium rounded-md border border-black" onclick="history.back()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
      </svg>
      back
    </button>
  </div>
</div>

<h1>Your Order Cart:</h1>

<div class="mt-6">
  <% @cart.cart_items.each do |item| %>
  <p class="mb-2"><%= item.part.description %></p>
  <% if item.part.multipack > 1 %>
    <p class=" m-2"><strong>Multipack: <%= item.part.multipack%></strong></p>
    <% end %>
    <div class="border-b-2 mb-4 flex justify-between">
      <div>
        <%= form_with(model: item, url: cart_cart_item_path(@cart, item), method: :patch) do |form| %>
          <%= form.select :quantity, options_for_select((1..100).to_a, selected: item.quantity), class: "m-2 w-20" %>
          <br>
          <%= image_submit_tag("edit.png", alt: "Update Quantity", class: "ml-5 pt-2 h-8 w-8 ") %>
        <% end %>
      </div>
      <div>
        <% if part.image.attached? %>
          <%= image_tag(part.image, alt: "Part Image", size: "140x140") %>
        <% else %>
          <%= image_tag("scaffold_img.jpg", alt: "scaffold", size: "120x100") %>
        <% end %>
      </div>
      <div>
        <%= button_to cart_cart_item_path(@cart, item), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= image_tag "trash.png", size: "30x30", alt: "Delete", class:" mt-3" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div>
</div>
  <div class="m-3 flex">
    <%= image_tag "weight.png", size: "40x20", alt:"weight"%>
  <p class="text-center m-2">Total Weight: <%= @total_weight %> kg</p>
</div>
<div class="m-3">
  <%= button_to new_order_path(cart_id: @cart.id), method: :get, 
    class: "inline-flex items-center px-4 py-2 bg-gray-500 hover:bg-gray-700 text-white font-semibold rounded-md",
    disabled: @cart.cart_items.empty? do %>
  <%= image_tag "cart.png", size: "40x20", alt: "Order" %>
  <span class="ml-2 ">GO to Order</span>
  <% end %>
</div>
