
<h1>Your Order Cart:</h1>

<div class="mt-6">
  <% @cart.cart_items.each do |item| %>
  <p class="mb-2"><%= item.part.description %></p>
  <% if item.part.multipack > 1 %>
    <p class=" m-2"><strong>Multipack: <%= item.part.multipack%></strong></p>
    <% end %>
    <div class="border-b-2 mb-4 flex justify-between">
      <div>
        <%= form_with(model: item, url: cart_cart_item_path(@cart, item), method: :patch) do |form| %>
          <%= form.select :quantity, options_for_select((1..100).to_a, selected: item.quantity), class: "m-2 w-20" %>
          <br>
          <%= image_submit_tag("edit.png", alt: "Update Quantity", class: "ml-5 pt-2 h-8 w-8 ") %>
        <% end %>
      </div>
      <div>
        <%= image_tag "scaffold_img.jpg", size: "80x80", alt: "img" %>
      </div>
      <div>
        <%= button_to cart_cart_item_path(@cart, item), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <button class="inline-flex items-center px-2 py-2 bg-red-600 hover:bg-red-700 text-white text-sm font-medium rounded-md">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div>
</div>
  <div class="m-3 flex">
    <%= image_tag "weight", size: "40x20", alt:"weight"%>
  <p class="text-center m-2">Total Weight: <%= @total_weight %> kg</p>
</div>