<h2 class="m-4">Log in</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field m-2 ">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-white shadow-md rounded" %>
  </div>

  <div class="field m-2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:" bg-white shadow-md rounded" %>
  </div>



  <div class="actions flex justify-center m-3">
    <%= f.submit "Log In", class: "bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>


