<!DOCTYPE html>
<html>
  <head>
    <title>ScaffoldData</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js", "data-turbolinks-track": "reload" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
   <%= javascript_include_tag 'application' %>
   <%= javascript_importmap_tags %>
   <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    darkMode: "class",
    theme: {
      fontFamily: {
        sans: ["Roboto", "sans-serif"],
        body: ["Roboto", "sans-serif"],
        mono: ["ui-monospace", "monospace"],
      },
    },
    corePlugins: {
      preflight: false,
    },
  };
</script>
  </head>

<nav>
<%= render 'shared/storage_navbar'%>
</nav>
  <body class="bg-no-repeat bg-cover bg-center" style="background-image: url(<%= asset_path 'bg-lines.png' %>); background-attachment: fixed;">
  

    <% flash.each do |key, value| %>
      <div class="flash text-center text-lime-700 <%= key %>">
        <%= value %>
      </div>
    <% end %>
    <main class="flex justify-center mt-4 px-5 ">
      <div class="min-w-[700px]  min-h-[400px] border-2 rounded-lg shadow-xl bg-white"
        style="">
        <div class="m-2">
          <%= yield %>
        </div>
      </div>  
    </main>
    
      <%= render 'shared/log_in'%>
      
    <%= render 'shared/storage_footer'%>
    


</div>

 <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
  </body>
</html>